## 1. Load the Data

In [1]:
import pandas as pd
df = pd.read_csv('reviews.csv')

## 2. Initial Inspection

In [2]:
df.info()
df.describe()
df.head()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25991 entries, 0 to 25990
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   listing_id  25991 non-null  int64
 1   date        25991 non-null  object
dtypes: int64(1), object(1)
memory usage: 406.2+ KB

Index(['listing_id', 'date'], dtype='object')

## 3. Convert Date to Datetime

In [3]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')

## 4. Check for Invalid or Missing Data

In [5]:
print(df['date'].isnull().sum())

0

## 5. Check for Duplicates

In [6]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

## 6. Sort Values by Date

In [7]:
df.sort_values(by='date', inplace=True)

## 7. Filter out Unrealistic Dates

In [8]:
df = df[(df['date'].dt.year >= 2023) & (df['date'].dt.year <= 2025)]

## 8. Saved the cleaned Data

In [9]:
df.to_csv("cleaned_calendar.csv", index=False)